* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vw;
}

.uibox.display_area * {
    font-family: "Segoe UI", "Roboto", "Google Sans", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
/* Global */
.uibox.wrapper {
    position: fixed;
}
/* Dialog Box */
.uibox.box.wrapper {
    box-shadow: #999 0 0 1px 1px;
    width: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    position: fixed; /* this is important because they will otherwise move next to each other, rather than stacking like a good set of boys */
    float: left;
    left: calc(50vw - 250px);
}
.uibox.box.wrapper .uibox.box.header {
    font-size: 14pt;
    user-select: none;
}
.uibox.box.wrapper .uibox.box.content {
    /* display: flex; */
    margin-top: 20px
}
.uibox.box.wrapper .uibox.box.content * {
    width: 100%;
    margin: 5px 0 5px 0;
}
.uibox.box.wrapper .uibox.box.content input {
    padding: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    outline: none;
}
.uibox.box.wrapper .uibox.box.buttons {
    margin-top: 20px;
    width: 100%;
    clear: both;
    display: both;
    overflow: auto;
}
.uibox.box.wrapper .uibox.box.buttons button.uibox.button {
    right: 0;
    float: right;
    padding: 10px;
    background: dodgerblue;
    border-radius: 5px;
    border: none;
    color: #fff;
    min-width: 100px;
    outline: none;
    cursor: pointer;
    margin: 5px 10px 0 10px;
}
.uibox.box.wrapper .uibox.box.buttons button.uibox.button:active {
    background: #4472e9;
}
/* Toast Styling */
.uibox.toast.wrapper {
    min-width: 200px;
    max-width: 800px;
    background: #ccc;
    border-radius: 500px;
    color: #333;
    text-align: center;
    padding: 20px;
    margin: 0 auto;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    bottom: 20px;
}
/* Notification styling */
.uibox.notification.wrapper {
    background: #434c4e;
    color: #eee;
    width: 100%;
    padding: 10px;
    overflow: auto;
}
.uibox.notification .message {
    font-size: 15pt;
    float: left;
    width: calc(100% - 60px);
}

.uibox .global.close {
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    border-radius: 500px;
    float: right;
    position: relative;
    right: 20px;
    /* box-shadow: #999 0 0 1px 1px; */
    background: url(./res/close.svg);
    background-size: contain;
    outline: none;
    /* background: transparent; */
}
.uibox .global.close:active {
    box-shadow: #999 0 0 1px 1px;
}
/* Menu styling */
.uibox.menu.wrapper {
    max-width: 500px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}
.uibox.menu li {
    list-style-type: none;
    padding: 10px;
}
.uibox.menu li:hover {
    background: #eee;
}
.uibox.menu hr {
    border: none;
    border-bottom: 1px solid #aaa;
}
